

p{
		color: gray;
}

h1{
	color: green;
}
body {
  background-color: #00294F;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

.container{
}

.quotebox{
	text-align: center;
	margin: auto;
	margin-top: 15%;
	padding: 15px;
	background-color: white;
	width: 30%;
	border-radius: 10px;
}

.attribution{
	text-align: center;
	margin-top: 30px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.message{
	text-align: left;
}

.author{
	text-align: right;
}

.smallprint{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

.well{
	margin-top: 100px;
	padding-right: 10%;
	padding-left: 10%;
	border-radius: 1px;
}

.btn-primary{
	margin: 5px;
	background-color: #00294F;
	padding: 5px;
	color: white;
	border-radius: 1px;
}

#buttonP{
	text-align: right;
	margin-bottom: 0px;
}
